[submodule "vendor/gecode"]
	path = vendor/gecode
	url = https://github.com/Gecode/gecode
[submodule "vendor/Ipopt"]
	path = vendor/Ipopt
	url = https://github.com/coin-or/Ipopt
[submodule "vendor/minizinc-python"]
	path = vendor/minizinc-python
	url = https://github.com/MiniZinc/minizinc-python
[submodule "vendor/minizinc-jll"]
	path = vendor/minizinc-jll
	url = https://github.com/JuliaBinaryWrappers/MiniZinc_jll.jl
[submodule "vendor/minizin-js"]
	path = vendor/minizin-js
	url = https://github.com/MiniZinc/minizinc-js
[submodule "minizinc_data/huggingface"]
	path = minizinc_data/huggingface
	url = https://huggingface.co/datasets/h4/libminizinc
[submodule "vendor/hugging-face-dataset-validator-rust"]
	path = vendor/hugging-face-dataset-validator-rust
	url = https://github.com/meta-introspector/hugging-face-dataset-validator-rust
[submodule "vendor/grex"]
	path = vendor/grex
	url = https://github.com/pemistahl/grex
[submodule "vendor/asciicast"]
	path = vendor/asciicast
	url = https://github.com/LegNeato/asciicast-rs.git
[submodule "vendor/libjq"]
	path = vendor/libjq
	url = https://github.com/jqlang/jq.git
[submodule "vendor/act"]
	path = vendor/act
	url = https://github.com/nektos/act
[submodule "vendor/clang-rs"]
	path = vendor/clang-rs
	url = https://github.com/KyleMayes/clang-rs
[submodule "vendor/clang-sys"]
	path = vendor/clang-sys
	url = https://github.com/KyleMayes/clang-sys
[submodule "vendor/lexgen"]
	path = vendor/lexgen
	url = https://github.com/osa1/lexgen
[submodule "vendor/rust-emojicons"]
	path = vendor/rust-emojicons
	url = https://github.com/jiri/rust-emojicons
[submodule "vendor/octocrab"]
	path = vendor/octocrab
	url = https://github.com/XAMPPRocky/octocrab.git
[submodule "vendor/tmux_interface"]
	path = vendor/tmux_interface
	url = https://github.com/AntonGepting/tmux-interface-rs
[submodule "vendor/keyring"]
	path = vendor/keyring
	url = https://github.com/hwchen/keyring-rs
[submodule "vendor/oauth2"]
	path = vendor/oauth2
	url = https://github.com/ramosbugs/oauth2-rs
[submodule "vendor/dum"]
	path = vendor/dum
	url = https://github.com/egoist/dum
[submodule "vendor/solfunmeme-dioxus"]
	path = vendor/solfunmeme-dioxus
	url = https://github.com/meta-introspector/solfunmeme-dioxus.git
[submodule "vendor/tree-sitter"]
	path = vendor/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter.git
