*.o
*~
mzn2fzn
solns2out
makefile
Makefile
include/minizinc/parser.tab.hh
lib/lexer.yy.cpp
lib/parser.tab.cpp
core
build/
res/
CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
install_manifest.txt
libminizinc.build
libminizinc.xcodeproj
CMakeLists.txt.user
*.bak
*.out
*.err
.vscode/c_cpp_properties.json
.vscode/ipch
tests/output
tests/env
tests/.pytest_cache
__pycache__/
.mypy_cache/
.vscode/settings.json
_build/
*.pyc
.cache/
!docs/Makefile

/tools/minizinc_test_runner_rs/target/
/tools/minizinc_report_generator_rs/minizinc_report_generator_rs/target/
/tools/minizinc_c_wrapper/libminizinc_c_wrapper.so
gecode/
install/
proof_tapes/
/tools/minizinc_ffi/target/
