test_crate_similarity_report.txt
*.o
*~
mzn2fzn
solns2out
makefile
Makefile
include/minizinc/parser.tab.hh
lib/lexer.yy.cpp
lib/parser.tab.cpp
core
build/
res/
CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
install_manifest.txt
libminizinc.build
libminizinc.xcodeproj
CMakeLists.txt.user
*.bak
*.out
*.err
.vscode/c_cpp_properties.json
.vscode/ipch
tests/output
tests/env
tests/.pytest_cache
__pycache__/
.mypy_cache/
.vscode/settings.json
_build/
*.pyc
.cache/
!docs/Makefile

/tools/minizinc_test_runner_rs/target/
/tools/minizinc_report_generator_rs/minizinc_report_generator_rs/target/
/tools/minizinc_c_wrapper/libminizinc_c_wrapper.so
gecode/
install/
proof_tapes/
/tools/minizinc_ffi/target/
/target/
/crash_reproduce_stderr.log
/crash_reproduce_stdout.log
/strace.log
/build_coverage/

# Custom additions
temp_commit_message.txt
*.profraw

# Emacs
*#
.#*
*.elc
auto-save-list/
tramp
/html_llvm_coverage_report/
/html_llvm_coverage_report_per_test/
/strace_output.log
merged.profdata
/html_parser_coverage/
/coverage_reports_new_content/
/merged.profdata.old
/new_coverage_report.txt
/new_minizinc_parse_string_only_instantiations.txt
/new_minizinc_parse_string_only_line_counts.txt
/new_parser_cpp_line_counts.txt
/old_coverage.json
/old_coverage_report.txt
/old_minizinc_parse_string_only_coverage.txt
/old_minizinc_parse_string_only_line_counts.txt
/old_parser_cpp_line_counts.txt
# Generated build files
include/minizinc/config.hh
libminizincConfig.cmake
libminizincConfigVersion.cmake
libminizincTargets.cmake
reports/
temp_minizinc_output/
test_code.rs
run1.txt
*.patch.txt
patch.txt
/logs/

full_analysis.log
report.txt
*.json
/all_terms.txt
